<div class="rag-chat">
  <div class="rag-chat-log" data-element="log"></div>
  <div class="rag-chat-input">
    <textarea name="rag-chat-input" placeholder="{{localize 'RAG.ChatPlaceholder'}}"></textarea>
    <button type="button" data-action="send">{{localize "RAG.Send"}}</button>
  </div>
</div>
